<div class="task-creation-area">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>New task description</mat-label>
    <input matInput type="text" [(ngModel)]="value" class="__input">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-flat-button color="primary" class="__btn">
    Add
  </button>
</div>

<div class="all-list-area" *ngFor="let task of taskList">
  <mat-checkbox [(ngModel)]="task.complete">
    {{task.description}}
  </mat-checkbox>
</div>