.todo-list {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 500px;
}

.task-creation-area {
    display: flex;
    .__new-task-input {
        flex: 3;
    }
    button {
        margin: 0px 0px 16px 40px;
        flex: 1;
    }
}


.row {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    input {
        width: 420px;
    }
    &:hover {
        background-color: #eeeeee;
    }
}


.__operate-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #b9b2a2;
    cursor: pointer;
    align-items: baseline;
    vertical-align: middle;
    display: inline-flex;
    white-space: nowrap;
}


